################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/FindSpace/bin/Debug
/FindSpace/bin/Release
/FindSpace/obj
/.vs
/obj/Debug
/packages
/Test1TopRighttOptimiser.bmp
/Test1TopOptimiser.bmp
/Test1TopLefttOptimiser.bmp
/Test1TopCentreOptimiser.bmp
/Test1MiddleRightOptimiser.bmp
/Test1MiddleLeftOptimiser.bmp
/Test1MiddleCentreOptimiser.bmp
/Test1BottomRightOptimiser.bmp
/Test1BottomOptimiser.bmp
/Test1BottomLeftOptimiser.bmp
/Test1BottomCentreOptimiser.bmp
/Test2TopRighttOptimiser.bmp
/Test2TopOptimiser.bmp
/Test2TopLefttOptimiser.bmp
/Test2TopCentreOptimiser.bmp
/Test2MiddleRightOptimiser.bmp
/Test2MiddleLeftOptimiser.bmp
/Test2MiddleCentreOptimiser.bmp
/Test2BottomRightOptimiser.bmp
/Test2BottomOptimiser.bmp
/Test2BottomLeftOptimiser.bmp
/Test2BottomCentreOptimiser.bmp
/Test3TopRighttOptimiser.bmp
/Test3TopOptimiser.bmp
/Test3TopLefttOptimiser.bmp
/Test3TopCentreOptimiser.bmp
/Test3MiddleRightOptimiser.bmp
/Test3MiddleLeftOptimiser.bmp
/Test3MiddleCentreOptimiser.bmp
/Test3BottomLeftOptimiser.bmp
/Test3BottomCentreOptimiser.bmp
/FindSpaceTests/.vs/FindSpaceTests/v16
/FindSpaceTests/bin/Debug
/FindSpaceTests/obj/Debug
/FindSpaceTests/bin/Release
/FindSpaceTests/obj/Release
*/*.csproj.user
FindSpaceTests/TestImages/Test-*.bmp
FindSpaceTests/TestImages/*.pdf